

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header"style="background-image: url('assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Dammy's Blog</h1>
                        <hr class="small">
                        <span class="subheading">Bringing You The Latest Entertainment News</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% @posts.each do |post| %>

                <div class="post-preview">
                    <%= link_to post_path(post) do %>
                        <h2 class="post-title">
                            <%=post.title%>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= post.subtitle %>
                        </h3>
                        <div class="img-responsive text-center">
                            <%= image_tag post.avatar.url(:medium) if post.avatar.file? %>
                        </div>
                    <% end %>
                    <p class="post-meta">Posted by <a href="#">Buhari</a> on <%= post.created_at.strftime("%B %d, %Y")%>, <%= time_ago_in_words post.created_at %> ago</p>
                </div>
                <hr>

            <% end %>


                
                <hr>
                <!-- Pager -->

                <ul class="pager">
                <li class="next">
                    
                <%= link_to_next_page @posts, 'Next Page ' %>
                      
                </li>
                <li class="next">
                <%= link_to_previous_page @posts, 'Previous Page' %>
                </li>
                
                </ul>
            </div>
        </div>
    </div>

    <hr>
