

 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading show-post-heading text-center" style="color: black; padding: 10px;">
                        <h1 class="text-center"><%= @post.title %></h1>
                        <h4 class="text-center subheading"><em><%= @post.subtitle %></em></h4>
                        <span class="meta">Posted <%= time_ago_in_words @post.created_at %> ago </span>
                        <% if admin_signed_in? %>

                        <%=  link_to "Edit Post", edit_post_path(@post), class: "meta"%>
                        <%=  link_to "Delete Post", post_path(@post), method: :delete,  data: { confirm: 'Delete comment?'}, class: "meta" %> 
                        <% end %>                         
                        <%= social_share_button_tag(@post.title) %> 
                    </div>
                </div>
          
            </div>

        </div>
    </header>

    <hr>

    <% @page_title = @post.title %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fr-view">
                <div class="img-responsive text-center">
                            <%= image_tag @post.avatar.url if @post.avatar.file? %>
                </div>
 				<p>
 					<%= raw(@post.body) %>
 				</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <%  if @post.tags.size > 0 %>
    	
    
    <div> 
    <h2 class="tag-head">Related Topics</h2>
		<ul class=" tag-list">
		<%= render @post.tags %>
		</ul>
	</div>

	<hr>
	<% end %>
    <%  if @related_posts.size > 0 %>
    <div>
        <h2>
            Similar Posts
        </h2>
        <% @related_posts.each do |rel| %>
            <p> <%= link_to rel.title, post_path(rel) %> </p>
        <% end %>
    </div>
    <hr>
        
    <% end %>

	
    
<div class="comment-section">
<h2> Comments </h2>
<div class = "comment-box">
<%= render "comments/comment_box"%>
</div>

<div id = "comments-accordion" class="comment-list">
    <ul id ="comments-all">
<% if @post.comments.count > 0 %>
    <%= render @post.comments %>
    

<% end %>
</ul>
    </div>
</div>

